.header-container {
    display: flex;
    justify-content: space-between;
}

.list-heroes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    max-width: 600px;
    margin: auto;
    margin-top: 1em;
}