<footer class="footer mat-elevation-z4">
    <div class="footer-content">
      <p>&copy; 2024 por <a href="https://patriciomariano.com" style="color: #ffc107;" target="_blank" rel="noopener noreferrer"> Patricio Mariano</a> . Todos los derechos reservados.</p>
      <div class="social-icons">
        <a href="https://pmariano.bio.link/" target="_blank">
          <mat-icon>link</mat-icon>
        </a>
        <a href="https://github.com/patomdp/" target="_blank" aria-label="GitHub">
            <mat-icon>code</mat-icon>
          </a>
          <a href="https://www.linkedin.com/in/patriciomariano/" target="_blank" aria-label="LinkedIn">
            <mat-icon>business</mat-icon>
          </a>
      </div>
    </div>
  </footer>
