.footer {
    background-color: #1976d2;
    color: white;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
  
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
  
      p {
        margin: 0;
      }
  
      .social-icons a {
        color: white;
        margin: 0 8px;
        text-decoration: none;
  
        mat-icon {
          font-size: 24px;
        }
  
        &:hover {
          color: #ffc107;
        }
      }
    }
  }
  