.edit-heroes-container{
    display: flex;
    justify-content: center;
    margin: 1em;
    gap: 1em;
}

.button-row{
    display: flex;
    justify-content: space-between;
}

.img-hero{
    max-width: 400px;
    align-self: center;
    border-radius: 1em;
}

.toUppercase{
    text-transform: capitalize;
}