/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --red: #f44336; 
    --green: #4CAF50;
    --blue: #1878B0;
    --yellow: #ffc107;
}
  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-paginator-container{
    justify-content: center !important;
}

app-root {
    @apply h-full flex flex-col justify-between;
}

simple-snack-bar span {
    @apply m-auto text-center;
}

.mda-form-msg{
    @apply text-[var(--red)];
}

.mat-snack-bar-container{
    @apply bg-[var(--green)] text-black;
}

table {
    @apply w-full;
}

mat-form-field {
    @apply text-base;
}

.delete {
    @apply text-[var(--red)];
}

.edit {
    @apply text-[var(--blue)];
}

.pointer {
    @apply cursor-pointer;
}

.pointer:hover {
    filter: brightness(50%);
}

